<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Habits Tracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style.css" />
		<script src="front-end.js" async defer></script>
		<script
			src="https://kit.fontawesome.com/1fa187a62b.js"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		style="
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 100vh;
			width: 100vw;
			background: linear-gradient(15deg, #00ffc8 0%, #005e4a 100%);
		"
	>
		<nav
			style="
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				height: 10vh;
				width: 30vw;
				background: none;
			"
		>
			<a href="/">Details</a>
		</nav>
		<main><%-body%></main>
	</body>
</html>
